body, html {
    margin: 0;
    padding: 0;
    direction: rtl !important;
    box-sizing: border-box;
 
  }
  @font-face {
    font-family: iransans;
    src: url("./assets/fonts/IRANSans(FaNum).ttf");
  }
  * {
    font-family: iransans;
    direction: rtl !important;
  }
  .custom-card{
    width: 100%;
    height: 100vh;
    direction: rtl !important;
    background-size: cover;
    background-position: center;
    overflow-x: none!important;
    /* display: none !important; */
  }
  .fs-small{
    font-size: 14px;
}
.fs-medium{
    font-size: 16px;
}
.fs-medium2{
font-size: 30px;
}
.fs-large{
  font-size: 50px;
}

